// colors.scss

// Orange
$color-orange--40: #fff9f5ff;
$color-orange--30: #f2f2f3ff;
$color-orange--20: #e1e2e4ff;
$color-orange--10: #c6c8cdff;
$color-orange-0: #ffd53fff;
$color-orange-10: #e05e00ff;
$color-orange-20: #c25100ff;
$color-orange-30: #b34b00ff;

// Yellow
$color-yellow--40: #fffbecff;
$color-yellow--30: #fff6d8ff;
$color-yellow--20: #ffeeafff;
$color-yellow--10: #ffe27cff;
$color-yellow-0: #ffe175ff;
$color-yellow-10: #ffcc16ff;
$color-yellow-20: #ecb900ff;
$color-yellow-30: #f36438;

// Grayscale
$color-grayscale-0: #ffffffff;
$color-grayscale-10: #f3f4f6ff;
$color-grayscale-20: #e8e9ecff;
$color-grayscale-30: #e1e2e4ff;
$color-grayscale-40: #c6c8cdff;
$color-grayscale-50: #9ea1a8ff;
$color-grayscale-60: #7f838cff;
$color-grayscale-70: #5d626dff;
$color-grayscale-80: #383e4aff;
$color-grayscale-90: #1a1e27ff;

// Positive
$color-positive--40: #e5f5ffff;
$color-positive--30: #b8e1ffff;
$color-positive--20: #7ac7ffff;
$color-positive--10: #3daeffff;
$color-positive-0: #0094ffff;
$color-positive-10: #0070c2ff;
$color-positive-20: #004d85ff;
$color-positive-30: #002947ff;

// Negative
$color-negative--40: #ffefefff;
$color-negative--30: #fdc8caff;
$color-negative--20: #fa989aff;
$color-negative--10: #f8676aff;
$color-negative-0: #d9d9d9ff;
$color-negative-10: #d60a0eff;
$color-negative-20: #a5070bff;
$color-negative-30: #740508ff;
