@use "@/shared/styles/mixin" as *;
@use "@/shared/styles/color" as *;

.icon_button {
  @include flex-center;
  width: 34px;
  height: 34px;
  cursor: pointer;
}

.icon_button_disabled {
  cursor: default;
}
