@use "@/shared/styles/mixin" as *;
@use "@/shared/styles/color" as *;

.tab_container {
  @include flex-row;
  width: fit-content;
  background-color: $color-grayscale-0;
  border-bottom: 1px solid $color-grayscale-50;
}

.tab {
  width: 120px;
  padding: 1.35rem 0;
  font-size: 1.4rem;
  color: $color-grayscale-50;
  text-align: center;
  border: none;
  background: none;
  position: relative;

  /* 활성화된 탭 스타일 */
  &.active {
    color: $color-grayscale-90;
    font-weight: bold;

    /* 활성 탭 하단에 밑줄 표시 */
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 0.2rem;
      background-color: $color-grayscale-90;
    }
  }
}
