@use "@/shared/styles/color" as *;
@use "@/shared/styles/mixin" as *;

.container {
  max-width: 720px;
  margin: 24px auto 72px;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card {
  border: 1px solid #e5e7eb;
  border-radius: 16px;
  background: #fff;
  padding: 20px;
  max-height: 60vh;
  overflow: auto;
  margin-bottom: 60px;
}

.article {
  color: #111827;
  line-height: 3.2rem;
  font-size: 1.4rem;

  h2 {
    font-size: 1.8rem;
    font-weight: 800;
    margin-bottom: 12px;
  }

  ol {
    padding-left: 18px;
  }

  p + p {
    margin-top: 12px;
  }
}

.actions {
  text-align: center;
}
