@use "@/shared/styles/color" as *;
@use "@/shared/styles/mixin" as *;

.search_view {
  @include flex-row;
  gap: 5rem;
  margin-bottom: 40px;
}

.group_serach_view {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 3.2rem;

  @include media(sm) {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.6rem;
    row-gap: 4rem;
  }
}

.group_view {
  @include flex-column;
  gap: 3.2rem;
  margin-bottom: 40px;

  @include media(sm) {
    @include flex-row-between;
    gap: 1.2rem;
  }
}
