@use "@/shared/styles/color" as *;
@use "@/shared/styles/mixin" as *;

.button {
  @include flex-center;
  width: 100%;
  padding: 10px 0;
  border-radius: 12px;
  font-size: 1.4rem;
  font-weight: bold;
  background-color: $color-yellow-30;
  border: 1px solid $color-orange-10;
  color: $color-grayscale-0;
  transition: background-color 0.2s ease;

  @include media(sm) {
    font-size: 1.8rem;
  }

  @include hover {
    background-color: $color-orange-10;
  }

  &.active {
    background-color: $color-yellow-30;
  }

  &.disabled {
    background-color: $color-grayscale-0;
    border-color: $color-grayscale-60;
    color: $color-grayscale-60;
  }
}
