@use "@/shared/styles/color" as *;
@use "@/shared/styles/mixin" as *;

.button {
  width: fit-content;
  padding: 0 1.8rem;
  height: 40px;
  @include flex-row;
  gap: 0.4rem;
  border-radius: 0.8rem;
  border: 1px solid $color-grayscale-40;
  background-color: $color-grayscale-0;
  font-size: 1.4rem;
  font-weight: 500;
  color: $color-grayscale-90;
  transition: all 0.2s ease;
  cursor: pointer;

  @include hover {
    background-color: $color-grayscale-10;
  }

  &:active {
    background-color: $color-grayscale-20;
  }
}

.active {
  border-color: $color-orange-10;
  color: $color-orange-10;
}
