@use "@/shared/styles/color" as *;
@use "@/shared/styles/mixin" as *;

.item_container {
  width: 100%;
  padding: 20px 0;
  flex: 1;
  min-height: 40vh;
}

.wish_container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 2rem;

  @include media(sm) {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.4rem;
    row-gap: 2rem;
  }
}

.mypost_container,
.mycomment_container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 2rem;
}
