@use "@/shared/styles/color" as *;
@use "@/shared/styles/mixin" as *;

// 일정 카드
.card {
  @include flex-row;
  gap: 3.2rem;
  border: 1px solid $color-orange--10;
  padding: 1.2rem;
  border-radius: 1.4rem;
  width: fit-content;
}

// 일정 이미지
.thumbnail {
  width: 6rem;
  height: 6rem;
  border-radius: 1rem;
  overflow: hidden;
  flex-shrink: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  // 이미지 placeholder
  .placeholder {
    width: 100%;
    height: 100%;
    background-color: $color-grayscale-40;
    border-radius: 1rem;
  }
}

// 일정 정보
.content {
  min-width: 140px;
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  justify-content: center;
}

.title {
  font-size: 1.2rem;
  font-weight: 700;
  color: $color-grayscale-90;

  @include media(sm) {
    font-size: 1.5rem;
  }
}

// 일정 수정/삭제 버튼
.more_btn {
  background: none;
  border: none;
  cursor: pointer;
  color: $color-grayscale-80;
  padding: 0.4rem;
}

// 일정 정보
.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.6rem;

  .time,
  .location {
    font-size: 1.2rem;
    color: $color-grayscale-70;

    @include media(sm) {
      font-size: 1.4rem;
    }
  }
}

.actions {
  @include flex-row;
  gap: 1.8rem;
}
