@use "@/shared/styles/mixin" as *;
@use "@/shared/styles/color" as *;

.header {
  @include flex-row;
  position: relative;
  width: 100%;
  padding: 1rem 3.2rem;
  background-color: $color-grayscale-0;
}

.title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.8rem;
  font-weight: bold;
  color: $color-grayscale-90;
}
