@use "@/shared/styles/mixin" as *;
@use "@/shared/styles/color" as *;

.header {
  @include flex-row-between;
  background-color: $color-grayscale-0;
  border-bottom: 1px solid $color-grayscale-20;
}

.logo {
  @include flex-row;
  gap: 0.6rem;

  .logoIcon {
    width: 2.4rem;
    height: 2.4rem;
  }

  .logoText {
    font-size: 1.8rem;
    font-weight: 700;
    color: $color-grayscale-90;
  }
}

.actions {
  @include flex-row;
  gap: 1.2rem;
}
