@use "@/shared/styles/mixin" as *;
@use "@/shared/styles/color" as *;

.header {
  @include flex-row-between;
  background-color: $color-grayscale-0;
  border-bottom: 1px solid $color-grayscale-20;
}

/* 로그 icon */
.logo_icon {
  width: 11.2rem;
  height: 3.7rem;
}

/* 팀원 모집하기, 로그인 버튼 뷰 */
.actions {
  @include flex-row;
  gap: 1.2rem;
}
