@use "@/shared/styles/color" as *;
@use "@/shared/styles/mixin" as *;

.form {
  @include flex-column;
  gap: 4rem;

  .button_groups {
    width: 100%;
    @include flex-column;
    gap: 4rem;
  }

  .tags {
    position: relative;
    bottom: 30px;
    width: 100%;
    gap: 2rem;
    @include flex-row;
  }
}
