@use "@/shared/styles/color" as *;
@use "@/shared/styles/mixin" as *;

.top_tab_view {
  @include flex-row;
  position: relative;
  margin-bottom: 40px;

  .top_tab_more_btn {
    position: absolute;
    right: 0;
  }
}

.actions_wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 2.4rem;

  & > button {
    padding: 1.2rem 2.4rem;
    border-radius: 18px;
    border: 1px solid $color-grayscale-50;
  }
}
