@use "@/shared/styles/color" as *;
@use "@/shared/styles/mixin" as *;

.search_view {
  @include flex-row-between;
  gap: 2rem;
  margin-bottom: 40px;

  @include media(sm) {
    @include flex-row;
    gap: 5rem;
  }
}

.group_view {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  margin-bottom: 40px;

  @include media(sm) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
  }
}
