@use "@/shared/styles/mixin" as *;
@use "@/shared/styles/color" as *;

.container {
  @include flex-row;
  gap: 1rem;
  width: 70%;
  height: 4.4rem;
  padding: 1rem 1.4rem;
  border-radius: 1.2rem;
  border: 1px solid $color-grayscale-50;
  background-color: $color-grayscale-0;
  transition:
    border-color 0.2s ease,
    box-shadow 0.2s ease;

  /* 인풋 focus 시 부모 컨테이너 강조 */
  &:focus-within {
    border-color: $color-grayscale-60;
    box-shadow: 0 0 0 2px rgba($color-grayscale-60, 0.3);
  }

  @include media(sm) {
    width: 100%;
    padding: 0 3.2rem;
  }

  // 아이콘
  & svg {
    width: 14px;
    height: 14px;

    @include media(sm) {
      width: 18px;
      height: 18px;
    }
  }
}

/* 인풋 필드 */
.input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 1.1rem;
  color: $color-grayscale-80;
  background-color: transparent;

  @include media(sm) {
    font-size: 1.4rem;
  }

  &::placeholder {
    color: $color-grayscale-50;
  }
}
