@use "@/shared/styles/color" as *;
@use "@/shared/styles/mixin" as *;

.top_tab_view {
  @include flex-column;
  align-items: flex-start;
  position: relative;
  margin-bottom: 40px;
  gap: 2.4rem;

  @include media(sm) {
    @include flex-row;
    align-items: flex-start;
    gap: 0;
  }

  .top_tab_more_btn {
    position: relative;
    font-size: 1.4rem;

    padding: 0.6rem 1.2rem;
    border-bottom: 1px solid $color-grayscale-50;

    @include media(sm) {
      position: absolute;
      right: 4rem;
      padding: 0.6rem 1.2rem;
    }
  }
}

/* 게시글 목록 래퍼 */
.posts_wrapper {
  display: flex;
  flex-direction: column;
  gap: 44px;
  padding: 0;

  @include media(sm) {
    padding: 40px;
  }
}
